DOMAIN=dev.crucio.cz
PORT=3001
API_URL=https://dev.crucio.cz
API_VERSION=7.0
HAVEAPI_AUTH_HEADER=X-HaveAPI-OAuth2-Token
HAVEAPI_META_NAMESPACE=_meta
OAUTH_AUTHORIZE_URL=https://dev.crucio.cz/_auth/oauth2/authorize
OAUTH_TOKEN_URL=http://admin.crucio.cz/_auth/oauth2/token
OAUTH_REVOKE_URL=http://admin.crucio.cz/_auth/oauth2/revoke
OAUTH_CLIENT_ID=dev.crucio.cz
OAUTH_CLIENT_SECRET=change-me
OAUTH_REDIRECT_URI=https://dev.crucio.cz/oauth/callback
OAUTH_SCOPE=all
OAUTH_TYPE=web_server
SESSION_SECRET=change-me
SESSION_STORE_PATH=/var/lib/webui-next-bff/sessions
SESSION_COOKIE_NAME=webui_next_sess
